[Unit]
Description=Idle manager for Wayland (swayidle)
Documentation=man:swayidle(1)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
Type=simple
ExecStart=swayidle -w \
    timeout 300 'dms ipc call lock lock' \
    timeout 600 'niri msg action power-off-monitors' \
    resume 'niri msg action power-on-monitors'
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
