[Unit]
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w timeout 601 'niri msg action power-off-monitors' timeout 600 '%h/.local/scripts/lock.sh' before-sleep '%h/.local/scripts/lock.sh'
Restart=on-failure

