{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $ci := stdinIsATTY -}}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    interactive = {{ $ci }}
{{- if $ci }}
    name = "Ghaith Hachem"
    email = "git@mail.hachem.at"
{{- else }}
    name = {{ promptString "Name" | quote }}
    email = {{ promptString "Email" | quote }}
{{- end }}

