{{- /* Checks if running interactively, which is not the case for GitHub Codespaces */ -}}
{{- $ci := stdinIsATTY -}}
{{- $type := "server" -}}
{{- if (env "REMOTE_CONTAINERS") }}
{{-   $type = "devcontainer" -}}
{{- else if $ci }}
{{-   $type = promptStringOnce . "type" "Machine type (desktop/server/devcontainer)" -}}
{{- end }}
sourceDir = {{ .chezmoi.sourceDir | quote }}

[data]
    interactive = {{ $ci }}
    type = {{ $type | quote }}
{{- if $ci }}
    name = {{ promptString "Git name" | quote }}
    email = {{ promptString "Git email" | quote }}
{{- else }}
    name = {{ env "GIT_NAME" | quote }}
    email = {{ env "GIT_EMAIL" | quote }}
{{- end }}

