[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	name = {{ .name }}
	email = {{ .email }}

[credential]
	helper = store

[core]
    autocrlf = input
		pager = delta
[init]
	defaultBranch = main
[pull]
	rebase = true
[interactive]
		diffFilter = delta --color-only
[delta]
	navigate = true
[merge]
	conflictstyle = diff3
[help]
    autocorrect = 20

[alias]
	changes = "log -M -L"
	fpush = push --force-with-lease
	# Push a new branch, with some safety checks in case I forgot I'm not on a branch
	do-push-branch = push -u origin HEAD
	push-branch = "!master=$(git main-branch); if [ \"$(git symbolic-ref --short HEAD 2>/dev/null)\" = \"$master\" ]; then echo \"$master is not a branch\" 1>&2; exit 1; fi; git do-push-branch"
	amend = commit --amend --no-edit
	reword = commit --amend --only -v
	undo = reset HEAD@{1}
[push]
    autoSetupRemote = true
[fetch]
	recurseSubmodules = on-demand
	prune = true

# vim:ft=gitconfig
